<div>
	<form style="padding: 100px;" ng-submit="newQuestion()">
		<input style="width: 500px;" placeholder="question" type="text" name="question" ng-model="question"><br>
		<input placeholder="real answer" type="text" name="realAnswer" ng-model="realAnswer"><br>
		<input placeholder="fake answer 1"  type="text" name="fakeAnswer1" ng-model="fakeAnswer1"><br>
		<input placeholder="fake answer 2"  type="text" name="fakeAnswer2" ng-model="fakeAnswer2"><br>
		<a href="#!/"><button class="button">cancel</button></a>
		<input id="add_question_button" class="button" type="submit" name="submit" value="add question">
	</form>
</div>